<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Relaciones con el entorno social y empresarial</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>Relaciones con el entorno social y empresarial</b>
			(<span class="i18n-viewpoint-"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/cf0fcc12-98f7-4728-bf50-fc5c6f920648.png" alt="Relaciones con el entorno social y empresarial" usemap="#cf0fcc12-98f7-4728-bf50-fc5c6f920648map">
			<map name="cf0fcc12-98f7-4728-bf50-fc5c6f920648map">
										<area shape="rect" coords="214,178,370,233" href="../elements/2040ce1f-cd8b-4616-800b-0e7a0d93852e.html"  target="element">
										<area shape="rect" coords="118,106,286,161" href="../elements/3b5dc5b5-43a3-4442-9afb-1f814721e49b.html"  target="element">
										<area shape="rect" coords="298,106,466,161" href="../elements/3a763938-44d6-449c-83a8-431a6e717e49.html"  target="element">

								<area shape="rect" coords="106,58,478,250" href="../elements/9aa85b2b-3382-4ca0-bdfd-9b6ffb9e8627.html"  target="element">
										<area shape="rect" coords="670,106,862,161" href="../elements/4bc7f797-4131-47bb-961c-dc39964e5d22.html"  target="element">
										<area shape="rect" coords="670,178,862,233" href="../elements/7465a0da-6d51-4d2b-bb03-33c4ecb57934.html"  target="element">

								<area shape="rect" coords="598,58,946,250" href="../elements/96639336-74b1-4301-888f-6ab3c8faffbe.html"  target="element">
										<area shape="rect" coords="1102,106,1258,161" href="../elements/da6b09a2-0c37-44bd-a928-a0d355172991.html"  target="element">
										<area shape="rect" coords="1270,106,1426,161" href="../elements/1c1895a2-895a-49e4-b6a1-c785948c4ad8.html"  target="element">
										<area shape="rect" coords="1174,178,1342,233" href="../elements/6a73f64a-7bb7-42c5-bb24-99145993088b.html"  target="element">

								<area shape="rect" coords="1090,58,1438,250" href="../elements/6d0450a4-51b7-49a2-8231-c6b61d652dae.html"  target="element">
										<area shape="rect" coords="1582,106,1738,161" href="../elements/9fa75b59-8335-44bc-99db-c7a7beaf27fd.html"  target="element">
										<area shape="rect" coords="1750,106,1894,161" href="../elements/ad738981-52f2-477c-8214-796e1732d642.html"  target="element">
										<area shape="rect" coords="1666,178,1822,233" href="../elements/9abcee44-fc79-4d29-9a19-760ac902c105.html"  target="element">

								<area shape="rect" coords="1570,58,1906,250" href="../elements/817bd3e9-ebc3-4f93-9926-b100af353bb9.html"  target="element">

						<area shape="rect" coords="10,10,2063,263" href="../elements/d4f942c9-170e-4c29-ae46-e1d106e799e3.html"  target="element">

			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr><td> <a href="../elements/d4f942c9-170e-4c29-ae46-e1d106e799e3.html" target="element"> Relaciones con el entorno social y empresarial </a> </td><td class="i18n-elementtype-Capability"></td></tr>
													<tr><td> <a href="../elements/9aa85b2b-3382-4ca0-bdfd-9b6ffb9e8627.html" target="element"> Oferta comercial </a> </td><td class="i18n-elementtype-Capability"></td></tr>
															<tr><td> <a href="../elements/2040ce1f-cd8b-4616-800b-0e7a0d93852e.html" target="element"> Evaluaci&#243;n de oportunidades de mercado </a> </td><td class="i18n-elementtype-Capability"></td></tr>
															<tr><td> <a href="../elements/3b5dc5b5-43a3-4442-9afb-1f814721e49b.html" target="element"> Identificaci&#243;n de oportunidades comerciales </a> </td><td class="i18n-elementtype-Capability"></td></tr>
															<tr><td> <a href="../elements/3a763938-44d6-449c-83a8-431a6e717e49.html" target="element"> An&#225;lisis comercial del mercado </a> </td><td class="i18n-elementtype-Capability"></td></tr>
													
													<tr><td> <a href="../elements/96639336-74b1-4301-888f-6ab3c8faffbe.html" target="element"> Compromiso comercial </a> </td><td class="i18n-elementtype-Capability"></td></tr>
															<tr><td> <a href="../elements/4bc7f797-4131-47bb-961c-dc39964e5d22.html" target="element"> Compromiso comercial de partners </a> </td><td class="i18n-elementtype-Capability"></td></tr>
															<tr><td> <a href="../elements/7465a0da-6d51-4d2b-bb03-33c4ecb57934.html" target="element"> Integraci&#243;n y transici&#243;n de partners comerciales </a> </td><td class="i18n-elementtype-Capability"></td></tr>
													
													<tr><td> <a href="../elements/6d0450a4-51b7-49a2-8231-c6b61d652dae.html" target="element"> Entrega comercial </a> </td><td class="i18n-elementtype-Capability"></td></tr>
															<tr><td> <a href="../elements/da6b09a2-0c37-44bd-a928-a0d355172991.html" target="element"> Gesti&#243;n de la producci&#243;n de la actividad comercial </a> </td><td class="i18n-elementtype-Capability"></td></tr>
															<tr><td> <a href="../elements/1c1895a2-895a-49e4-b6a1-c785948c4ad8.html" target="element"> Gesti&#243;n de problemas de la actividad comercial </a> </td><td class="i18n-elementtype-Capability"></td></tr>
															<tr><td> <a href="../elements/6a73f64a-7bb7-42c5-bb24-99145993088b.html" target="element"> Gesti&#243;n de abandono de la actividad comercial </a> </td><td class="i18n-elementtype-Capability"></td></tr>
													
													<tr><td> <a href="../elements/817bd3e9-ebc3-4f93-9926-b100af353bb9.html" target="element"> Seguimiento comercial </a> </td><td class="i18n-elementtype-Capability"></td></tr>
															<tr><td> <a href="../elements/9fa75b59-8335-44bc-99db-c7a7beaf27fd.html" target="element"> Gesti&#243;n del rendimiento del contrato comercial </a> </td><td class="i18n-elementtype-Capability"></td></tr>
															<tr><td> <a href="../elements/ad738981-52f2-477c-8214-796e1732d642.html" target="element"> Informes de actividades comerciales </a> </td><td class="i18n-elementtype-Capability"></td></tr>
															<tr><td> <a href="../elements/9abcee44-fc79-4d29-9a19-760ac902c105.html" target="element"> Planificaci&#243;n de contingencias comerciales </a> </td><td class="i18n-elementtype-Capability"></td></tr>
													
											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/8fbf1137-11ea-4f70-a44e-cb5011093c3c.html" target="element">  </a> </td>
																		<td> <a href="../elements/8fbf1137-11ea-4f70-a44e-cb5011093c3c.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/d4f942c9-170e-4c29-ae46-e1d106e799e3.html" target="element"> Relaciones con el entorno social y empresarial </a> </td>
																		<td> <a href="../elements/96639336-74b1-4301-888f-6ab3c8faffbe.html" target="element"> Compromiso comercial </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3fdf643a-4f50-4c81-ae4d-8f33fb81acb0.html" target="element">  </a> </td>
																		<td> <a href="../elements/3fdf643a-4f50-4c81-ae4d-8f33fb81acb0.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/d4f942c9-170e-4c29-ae46-e1d106e799e3.html" target="element"> Relaciones con el entorno social y empresarial </a> </td>
																		<td> <a href="../elements/817bd3e9-ebc3-4f93-9926-b100af353bb9.html" target="element"> Seguimiento comercial </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/06d9e8e1-1ee9-44e1-af8e-f4e823df5d65.html" target="element">  </a> </td>
																		<td> <a href="../elements/06d9e8e1-1ee9-44e1-af8e-f4e823df5d65.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/d4f942c9-170e-4c29-ae46-e1d106e799e3.html" target="element"> Relaciones con el entorno social y empresarial </a> </td>
																		<td> <a href="../elements/6d0450a4-51b7-49a2-8231-c6b61d652dae.html" target="element"> Entrega comercial </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/bb00a197-584a-4da3-840c-c257934464c2.html" target="element">  </a> </td>
																		<td> <a href="../elements/bb00a197-584a-4da3-840c-c257934464c2.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/d4f942c9-170e-4c29-ae46-e1d106e799e3.html" target="element"> Relaciones con el entorno social y empresarial </a> </td>
																		<td> <a href="../elements/9aa85b2b-3382-4ca0-bdfd-9b6ffb9e8627.html" target="element"> Oferta comercial </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/7a157251-dd09-4545-9052-d029d86ca4e0.html" target="element">  </a> </td>
																				<td> <a href="../elements/7a157251-dd09-4545-9052-d029d86ca4e0.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/9aa85b2b-3382-4ca0-bdfd-9b6ffb9e8627.html" target="element"> Oferta comercial </a> </td>
																				<td> <a href="../elements/2040ce1f-cd8b-4616-800b-0e7a0d93852e.html" target="element"> Evaluaci&#243;n de oportunidades de mercado </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/302341cc-7ffa-4134-af58-05ce0ad7c8ca.html" target="element">  </a> </td>
																				<td> <a href="../elements/302341cc-7ffa-4134-af58-05ce0ad7c8ca.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/9aa85b2b-3382-4ca0-bdfd-9b6ffb9e8627.html" target="element"> Oferta comercial </a> </td>
																				<td> <a href="../elements/3b5dc5b5-43a3-4442-9afb-1f814721e49b.html" target="element"> Identificaci&#243;n de oportunidades comerciales </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/c25507c2-52c1-4032-abd5-eb24d0083a78.html" target="element">  </a> </td>
																				<td> <a href="../elements/c25507c2-52c1-4032-abd5-eb24d0083a78.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/9aa85b2b-3382-4ca0-bdfd-9b6ffb9e8627.html" target="element"> Oferta comercial </a> </td>
																				<td> <a href="../elements/3a763938-44d6-449c-83a8-431a6e717e49.html" target="element"> An&#225;lisis comercial del mercado </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/72219168-9353-4e52-aa50-569baf32b8a0.html" target="element">  </a> </td>
																				<td> <a href="../elements/72219168-9353-4e52-aa50-569baf32b8a0.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/96639336-74b1-4301-888f-6ab3c8faffbe.html" target="element"> Compromiso comercial </a> </td>
																				<td> <a href="../elements/7465a0da-6d51-4d2b-bb03-33c4ecb57934.html" target="element"> Integraci&#243;n y transici&#243;n de partners comerciales </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/a531b361-b909-4ce4-81f5-0e9e97808c84.html" target="element">  </a> </td>
																				<td> <a href="../elements/a531b361-b909-4ce4-81f5-0e9e97808c84.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/96639336-74b1-4301-888f-6ab3c8faffbe.html" target="element"> Compromiso comercial </a> </td>
																				<td> <a href="../elements/4bc7f797-4131-47bb-961c-dc39964e5d22.html" target="element"> Compromiso comercial de partners </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/4d5f7d96-bbdd-4106-a1fd-ce8d2b2e19c5.html" target="element">  </a> </td>
																				<td> <a href="../elements/4d5f7d96-bbdd-4106-a1fd-ce8d2b2e19c5.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/6d0450a4-51b7-49a2-8231-c6b61d652dae.html" target="element"> Entrega comercial </a> </td>
																				<td> <a href="../elements/da6b09a2-0c37-44bd-a928-a0d355172991.html" target="element"> Gesti&#243;n de la producci&#243;n de la actividad comercial </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/d59dd8cf-dd03-41a6-aab2-fed2c35dac18.html" target="element">  </a> </td>
																				<td> <a href="../elements/d59dd8cf-dd03-41a6-aab2-fed2c35dac18.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/6d0450a4-51b7-49a2-8231-c6b61d652dae.html" target="element"> Entrega comercial </a> </td>
																				<td> <a href="../elements/6a73f64a-7bb7-42c5-bb24-99145993088b.html" target="element"> Gesti&#243;n de abandono de la actividad comercial </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/d85ccab0-9a02-49c2-8365-e151e44bf724.html" target="element">  </a> </td>
																				<td> <a href="../elements/d85ccab0-9a02-49c2-8365-e151e44bf724.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/6d0450a4-51b7-49a2-8231-c6b61d652dae.html" target="element"> Entrega comercial </a> </td>
																				<td> <a href="../elements/1c1895a2-895a-49e4-b6a1-c785948c4ad8.html" target="element"> Gesti&#243;n de problemas de la actividad comercial </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/73ae0930-24bd-4a48-a3e9-f70d12708317.html" target="element">  </a> </td>
																				<td> <a href="../elements/73ae0930-24bd-4a48-a3e9-f70d12708317.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/817bd3e9-ebc3-4f93-9926-b100af353bb9.html" target="element"> Seguimiento comercial </a> </td>
																				<td> <a href="../elements/9abcee44-fc79-4d29-9a19-760ac902c105.html" target="element"> Planificaci&#243;n de contingencias comerciales </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/8eab8a0f-6280-40c2-b686-b432392370bb.html" target="element">  </a> </td>
																				<td> <a href="../elements/8eab8a0f-6280-40c2-b686-b432392370bb.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/817bd3e9-ebc3-4f93-9926-b100af353bb9.html" target="element"> Seguimiento comercial </a> </td>
																				<td> <a href="../elements/9fa75b59-8335-44bc-99db-c7a7beaf27fd.html" target="element"> Gesti&#243;n del rendimiento del contrato comercial </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/34fab16a-d38d-44b2-8efb-37623187c73a.html" target="element">  </a> </td>
																				<td> <a href="../elements/34fab16a-d38d-44b2-8efb-37623187c73a.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/817bd3e9-ebc3-4f93-9926-b100af353bb9.html" target="element"> Seguimiento comercial </a> </td>
																				<td> <a href="../elements/ad738981-52f2-477c-8214-796e1732d642.html" target="element"> Informes de actividades comerciales </a> </td>
																			</tr>

													
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>